<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>controller.auth.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseRequiredAuthenticationController</servlet-name>
        <servlet-class>controller.auth.BaseRequiredAuthenticationControlle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCreateApplication</servlet-name>
        <servlet-class>controller.ControllerCreateApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerModifyApplication</servlet-name>
        <servlet-class>controller.ControllerModifyApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerApplicationReview</servlet-name>
        <servlet-class>controller.ControllerApplicationReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerHomePage</servlet-name>
        <servlet-class>controller.ControllerHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerListApplication</servlet-name>
        <servlet-class>controller.ControllerListApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAgenda</servlet-name>
        <servlet-class>controller.ControllerAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerDashboardStaff</servlet-name>
        <servlet-class>controller.dashboard.ControllerDashboardStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerDashboardDivisionsleader</servlet-name>
        <servlet-class>controller.dashboard.ControllerDashboardDivisionsleader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerDashboardTeamleader</servlet-name>
        <servlet-class>controller.dashboard.ControllerDashboardTeamleader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAccessDenided</servlet-name>
        <servlet-class>controller.auth.ControllerAccessDenided</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogout</servlet-name>
        <servlet-class>controller.auth.ControllerLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseRequiredAuthenticationController</servlet-name>
        <url-pattern>/authcontrollerlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCreateApplication</servlet-name>
        <url-pattern>/application/request/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerModifyApplication</servlet-name>
        <url-pattern>/application/request/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerApplicationReview</servlet-name>
        <url-pattern>/application/request/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerHomePage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerListApplication</servlet-name>
        <url-pattern>/application/request/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAgenda</servlet-name>
        <url-pattern>/application/request/agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerDashboardStaff</servlet-name>
        <url-pattern>/view/dashboard/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerDashboardDivisionsleader</servlet-name>
        <url-pattern>/view/dashboard/divisionsleader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerDashboardTeamleader</servlet-name>
        <url-pattern>/view/dashboard/teamleader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAccessDenided</servlet-name>
        <url-pattern>/accessdenied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
